
nav{   background-image: url('assets/img/jaquettes/depositphotos_12798148-stock-photo-grunge-musical-background.webp');
}
h1{
    color:  white;
}
#image {
    position: relative;
border: 2px solid black;
transition: transform 0.3s ease-in-out;
}

#cardd{
    background-color: rgba(194, 153, 87, 0.74);
    
}
p{
    font-weight: bold;
}

#image:hover{
    width: 120px;
    height: 120px;
    transform: scale(1.1);
}

